<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <!-- <li v-for="menu in menus">
        <a v-bind:href="menu">{{menu}}</a>
      </li> -->
      <!-- Add index -->
      <li v-for="(menu, index) in menus">
        <a v-bind:href="menu">{{index}}. {{menu}}</a>
      </li>
    </ul>
    <button v-on:click="menus.push('test')">Add item</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        menus: ['Home', 'About', 'News', 'Blogs', 'Contact']
      }
    })
  </script>
</body>
</html>