<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="script/vue.js"></script>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin-bottom: 30px;">
    <div id="app">
        {{monsterAttack}}
        <section class="row">
            <div class="small-6 columns">
                <div class="win" v-if="winner === 'You'">WIN</div>
                <h1 class="text-center">YOU</h1>
                <img src="img/chibi.png" alt="" style="height: 500px; width: 100%">

                <div class="healthbar">
                    <!-- <div class="damage-index">-{{healthbarYou}}</div> -->
                    <!-- <div 
                        class="damage-index"
                        :class="isStartGame && isYourTurn && damageIndex !== 0 ? 'run-damage-index' : ''"
                    >-{{damageIndex}}</div> -->
                    <!-- <div class="heal-index">+100</div> -->
                    <div 
                        class='damage-index'
                        v-if="isDamageYou"
                    >-{{damageIndex}}</div>
                    <div 
                        class='heal-index'
                        v-if="isHealYou"
                    >+{{healIndex}}</div>
                    <div
                        class="healthbar-progress"
                        :class="isStartGame ? 'run-healthbar-progress' : ''"
                        :style="{width: healthbarProgressYou + '%'}"
                    >
                    </div>
                    <p class="healthbar-text">{{healthbarYou + '%'}}</p>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="win" v-if="winner === 'Monster'">WIN</div>
                <h1 class="text-center">MONSTER</h1>
                <img src="img/monster.png" alt="" style="height: 500px; width: 100%">
                
                <div class="healthbar">
                    <!-- <div class="damage-index">-{{healthbarMonster}}</div> -->
                    <!-- <div 
                        class="damage-index"
                        :class="isStartGame && !isYourTurn ? 'run-damage-index' : ''"
                    >-{{damageIndex}}</div> -->
                    <!-- <div class="heal-index">+100</div> -->
                    <div 
                        class='damage-index'
                        v-if="isDamageMonster"
                    >-{{damageIndex}}</div>
                    <div
                        class="healthbar-progress"
                        :class="isStartGame ? 'run-healthbar-progress' : ''"
                        :style="{width: healthbarProgressMonster + '%'}"
                    >
                    </div>
                    <p class="healthbar-text">{{healthbarMonster + '%'}}</p>
                </div>
            </div>
        </section>
        <!-- <section class="row controls">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">START NEW GAME</button>
            </div>
        </section>  -->
        <section class="row controls">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame" v-if="!isStartGame">START NEW GAME</button>
                <button id="attack" @click="attack" v-if="isStartGame">ATTACK</button>
                <button id="heal" @click="heal" v-if="isStartGame">HEAL {{timeOfHeal}}</button>
                <button id="give-up" @click="giveup" v-if="isStartGame">GIVE UP</button>
            </div>
        </section>
        <!-- <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </section> -->
    </div>

    <script src="script/main.js"></script>
</body>
</html>